	<title>Hipervinculo</title>
	<style>
	 .menu{ border: 1px solid black; text-align: center;}
	 .contenido{border: 1px solid blue; margin-top: 20px;text-align: center;}
     .pie_pagina{border: 1px solid green; text-align: center; margin-top: 20px;}
	 </style>
</head>
<body>
	<div class="menu"> 
<span><a href="HipervinculosV1.html">Menu 1</a></span>
<span><a href="HipervinculosV2.html">Menu 2</a></span>
<span><a href="HipervinculosV3.html">Menu 3</a></span>
	</div>
	<div class="contenido">
		<p>Pagina principal V3: Esto es un mensaje de la pagina principal</p>
	</div>
	<div class="pie_pagina">
		2019 &copy;	
	</div>

</body>
</html>